*{
    text-align: center;
}

button:hover{
    color: red;
}
button{
    margin: 10px;
    padding: 8px;
    margin-bottom: 15px;
    background-color: rgb(255, 183, 0);
}

button:active {
    transform: translateY(4px);
  }